
.button{
    width: Fill (320px)px;
    height: Hug (48px)px;
    padding: 12px 32px 12px 32px;
    gap: 2px;
    border-radius: 25px;
    opacity: 0px;
    background-color: #0043A9;
    color: white;
}
