<div class="container" style="min-width: 600px;">
    <div class="row justify-content-center align-items-center" style="height: 92vh;">
        <div class="col-6 px-5 py-5 m-0 ctn-form">
            <h1 class="fw-bolder my-3">CUSTOMER INFO</h1>
            <p>THE CUSTOMER INFORMATION MODULE ALLOWS USERS TO ACCESS AND READ CLIENT DATA EFFICIENTLY FROM THE DATABASE.</p>
            <div class="mb-3 p-0">
                <small id="dropdownHelp" class="text-muted">DOCUMENT TYPE.</small>
                <select id="dropdown" [(ngModel)]="selectedOption" class="form-select" aria-describedby="dropdownHelp">
                    <option value="" disabled selected>SELECT AN OPTION</option>
                    <option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</option>
                </select>
                <small id="dropdownHelp" class="text-danger" *ngIf="!selectedOption">PLEASE SELECT A DOCUMENT TYPE.</small>
            </div>

            <div class="mb-3 p-0">
                <small id="dniHelp" class="text-muted">DOCUMENT NUMBER.</small>
                <input id="input" type="number" [(ngModel)]="dni" class="form-control" placeholder="23445322" aria-describedby="dniHelp">
                <small id="dniHelp" class="text-danger" *ngIf="!dni">PLEASE ENTER A DOCUMENT NUMBER</small>
            </div>

            <button class="btn button my-3" [disabled]="!isFormValid()" (click)="onButtonClick()">SEARCH CLIENT</button>

        </div>

        <div class="col-6 py-0 px-5 m-0">
            <div class="ctn-image">
                <img src="assets/login.svg" alt="Imagen centrada" class="image">
            </div>
        </div>
    </div>
</div>
