<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-12 col-md-6 px-2 m-0">
            <h1 class="fw-bolder">CUSTOMER INFO</h1>
            <p>PLEASE ENTER THE TYPE AND NUMBER OF THE DOCUMENT TO SEARCH FOR INFORMATION.</p>

            <!-- Document Type Selector -->
            <div class="mb-3 p-0">
                <select id="dropdown" [(ngModel)]="selectedOption" class="form-select" aria-describedby="dropdownHelp">
                    <option value="" disabled>CHOOSE YOUR DOCUMENT TYPE</option>
                    <option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</option>
                </select>
                <small id="dropdownHelp" class="text-danger">WRONG.</small>
            </div>

            <!-- DNI Input -->
            <div class="mb-3">
                <input id="input" type="text" [(ngModel)]="dni" class="form-control" placeholder="DOCUMENT DNI" aria-describedby="dniHelp">
                <small id="dniHelp" class="text-danger">WRONG</small>
            </div>

            <!-- Search Button -->
            <button class="button" (click)="onButtonClick()">SEARCH CLIENT</button>
        </div>
        <div class="col-12 col-md-6 px-2 m-0">
            <!-- Puedes agregar más contenido aquí si es necesario -->
        </div>
    </div>
</div>
